.form-inner {
	margin: 5% auto;
	width: 30%;
	padding: 20px;
	position: absolute;
	top: 35%;
	left: 35%;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-wrapper {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.form-wrapper .add_member{
	background: #000;
	padding: 5px 15px;
	color: #fff;
	border: 1px solid #000;
	cursor: pointer;
}

.form-wrapper .add_member:hover{
	background: transparent;
	color: #000;
}

.hideform {
	display: none;
}

.form-wrapper select {
	width: 100%;
}
.form-wrapper label {
	margin-bottom: 10px;
	display: inline-block;
}

.field-wrapper .clearfix {
	clear:both;
}

.form-wrapper .message {
	margin-top: 10px;
	color: green;
}
